$text_and_logo_color: #f6c6bb;
$background_color: #2c2c2c;
$text_color: #feded6;

* {
    margin: 0;
    padding: 0;
    font-family: "Garamond", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  body {
    min-height: 100vh;
    place-items: center;
    width: 100%;
  }
  
  img {
    width: 100%;
  }

  #page-header {
    display: grid;
  }

  #page-header-desktop {
    display: none;
  }

  #page-header-mobile {
    display: grid;
    grid-auto-flow: column;
    background-color: $background_color;
    min-height: 50px;
    place-items: center;
  }

  #page-header-logo {
    width: 40px;
    justify-self: start;
  }

  #page-header-menu {
    width: 30px;
    justify-self: end;
    margin-right: 10px;
  }

  #page-main-mobile {
    display: grid;
  }

  #page-main-desktop {
    display: none;
  }

  #page-main-mobile-banner {
    background-image: url(/img/menu-img/food-background.jpg);
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;

    >div {
      transform: translateY(100px);
      background-color: #fff;
      height: 70px;
      width: 170px;
      display: grid;
      text-align: center;
      place-items: center;
      border-radius: 35px;

      >h1 {
        font-size: 1.5rem;
        color: $background_color;
      }
    }
  }

  #page-main-mobile-offers-title {
    display: grid;
    place-items: center;
    margin-top: 50px;

    >h1 {
      font-size: 2.5rem;
      margin: 0 5vw;
      text-align: center;
      transform: translateY(-20px);
    }
  }

  #page-main-mobile-offers {
    display: grid;
    margin-top: 20px;
    margin: 0 5vw;

    >h1 {
      margin: 20px 10vw;
      font-size: 1.5rem;
    }

    >p {
      margin: 0 10vw;
      font-size: 1.2rem;
    }

    >#page-main-mobile-offers-icon {
      width: 50px;
      justify-self: end;
      margin: 0 10vw;
    }
  }

  #page-main-mobile-menu-title {
    margin-top: 50px;
    display: grid;
    place-items: center;

    >.page-main-mobile-menu-title-h1 {
      font-size: 2rem;
      background-image: linear-gradient(45deg, #F5D5CE, #FFA18A, #FFA18A, #FEDED6);
      width: 100%;
      text-align: center;
      color: whitesmoke;
      margin-bottom: 50px;
    }
  }

  #page-main-mobile-menu {
    display: grid;
    
  }

  .page-main-mobile-menu-card {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 0 5vw 60px;

    >img {
      height: 100px;
      object-fit: cover;
    }

    >div {
      display: grid;
      margin: 0 5vw;
    }

    >div>div {
      display: grid;
    }
  }

  .page-main-mobile-menu-title-h1 {
    font-size: 2rem;
    background-image: linear-gradient(45deg, #F5D5CE, #FFA18A, #FFA18A, #FEDED6);
    width: 100%;
    text-align: center;
    color: whitesmoke;
    margin-bottom: 50px;
  }

  #page-footer {
    display: grid;
    grid-auto-flow: row;
    place-items: center;
    margin-top: 40px;
    background-color: $background_color;
    color: whitesmoke;
    text-align: center;
    padding-top: 30px;
    row-gap: 20px;
  }  
  
  #page-footer-contact {
    display: grid;
    grid-auto-flow: row;
    row-gap: 30px;
  
    >h1 {
      font-size: 2rem;
    }
  
    >a {
      font-size: 1.5rem;
      text-decoration: none;
      color: whitesmoke;
    }
  
    >a:hover {
      color: $text_and_logo_color;
    }
  
    >div {
      display: grid;
      grid-auto-flow: column;
      place-items: center;
      margin: 0 25vw;
  
      >img {
        width: 30px;
      }
  
      >img:hover {
        fill: $text_and_logo_color;
        cursor: pointer;
      }
    }
  }
  
  #page-footer-copyright {
    margin-bottom: 30px;
  }
  
  #page-footer-contact-address {
    font-size: 1.2rem;
    margin: 0 15vw;
  }
  
  #page-footer-map {
    display: grid;
    place-items: center;
  
    >iframe{
    height: 200px;
    width: 98vw;
    }
  }

  @media only screen and (min-width: 1080px) {
    #page-header-mobile {
      display: none;
    }
  
    #page-header-desktop {
      display: grid;
      grid-auto-flow: column;
      place-items: center;
      padding: 20px;
      background-color: $background_color;
  
      >div {
        display: grid;
        grid-auto-flow: column;
        column-gap: 20px;
      }
  
      >div>a {
        text-decoration: none;
        color: whitesmoke;
      }
  
      >div>a:hover {
        cursor: pointer;
        color: $text_and_logo_color;
      }
  
      >img {
        justify-self: center;
        width: 60px;
      }
    }

    #page-main-mobile {
      display: none;
    }

    #page-main-desktop {
      display: grid;
    }

    #page-main-desktop-banner {
      background-image: url(/img/menu-img/food-background.jpg);
      width: 100%;
      height: 500px;
      background-size: cover;
      background-position: center;
      display: grid;
      place-items: center;
  
      >div {
        transform: translateY(-50px);
        transform: translateX(-320px);
        background-color: #fff;
        height: 140px;
        width: 340px;
        display: grid;
        text-align: center;
        place-items: center;
        border-radius: 70px;
  
        >h1 {
          font-size: 3rem;
          color: $background_color;
        }
      }
    }

    #page-main-desktop-offers-title {
      display: grid;
      place-items: center;
      margin-top: 50px;

      >img {
        width: 600px;
      }
  
      >h1 {
        font-size: 3rem;
        margin: 0 5vw;
        text-align: center;
        transform: translateY(-20px);
      }
    }

    #page-main-desktop-offers {
      background-image: url(/img/menu-img/slice-pizza.jpg);
      width: 80%;
      height: 80vh;
      display: grid;
      justify-self: center;
      background-size: cover;
      background-position: center;

      >div {
        display: grid;
        height: 250px;
        background-color: #fff;
        margin: 0 10vw;
        transform: translateY(450px);
      }

      >div>h1 {
        margin: 20px 3vw;
        font-size: 2.5rem;
      }

      >div>p {
        margin: 8px 3vw;
        font-size: 1.8rem;
      }

      >div>img {
        width: 75px;
        justify-self: end;
        margin: 0 10vw;
        transform: translateY(-70px);
      }
    }

    #page-footer-contact {
      >div {
        column-gap: 50px;
      }
    }
  
    #page-footer-map {
      >iframe {
        height: 400px;
      }
    }
  }