$text_and_logo_color: #f6c6bb;
$background_color: #2c2c2c;
$text_color: #feded6;

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

* {
    margin: 0;
    padding: 0;
    font-family: "Garamond", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  body {
    min-height: 100vh;
    place-items: center;
    width: 100%;
  }
  
  img, svg, iframe {
    width: 100%;
}

#page-header {
  display: grid;
}

#page-header-desktop {
  display: none;
}

#page-header-mobile {
    min-height: 10vh;
    width: 100%;
    background-color: $background_color;
    display: grid;
    place-items: center;
    grid-auto-flow: column;

    >img {
      width: 60px;
      height: 60px;
    }

    >label>img {
      width: 30px;
      height: 30px;
    }
}

.menu_radio_button {
    display: none;
}

#mobile_menu {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 10;
    display: none;
    place-items: center;
    grid-template-rows: 20vh;
    width: 100%;
    height: 100%;
    background-color: $text_and_logo_color;
    color: white;

    >a {
      text-decoration: none;
      color: $background_color;
      font-size: 2rem;
      font-weight: bold;
    }

    >div>label>img {
      width: 40px;
      height: 40px;
    }
}

#menu_open:checked~#mobile_menu {
    display: grid;
}

#menu_header {
    display: grid;
    place-items: center;
    width: 100%;
    grid-auto-flow: column;
    height: 10vh;
}


  #page-main-mobile {
    display: grid;
  }

  #page-main-desktop {
    display: none;
  }

  #page-main-mobile-banner {
    background-image: url(/img/menu-img/menu-background-img.png);
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;

    >div {
      transform: translateY(100px);
      height: 70px;
      width: 170px;
      display: grid;
      text-align: center;
      place-items: center;

      >h1 {
        font-size: 1.5rem;
        color: $background_color;
        color: white;
        text-shadow: 3px 3px 12px white;
      }
    }
  }

  #page-main-mobile-offers-title {
    display: grid;
    place-items: center;
    margin-top: 50px;

    >h1 {
      font-size: 2rem;
      margin: 0 5vw;
      text-align: center;
      transform: translateY(-20px);
    }

    >:nth-child(1) {
      color: $text_and_logo_color;
      font-size: 3rem;
    }
  }

  #page-main-mobile-offers {
    display: grid;
    margin-top: 20px;
    margin: 0 5vw;

    >h1 {
      margin: 20px 10vw;
      font-size: 1.5rem;
    }

    >p {
      margin: 0 10vw;
      font-size: 1.2rem;
    }

    >#page-main-mobile-offers-icon {
      width: 50px;
      justify-self: end;
      margin: 0 10vw;
    }
  }

  #page-main-mobile-menu-title {
    margin-top: 50px;
    display: grid;
    place-items: center;

    >.page-main-mobile-menu-title-h1 {
      font-size: 2rem;
      background-image: linear-gradient(45deg, #F5D5CE, #FFA18A, #FFA18A, #FEDED6);
      width: 100%;
      text-align: center;
      color: whitesmoke;
      margin-bottom: 50px;
    }
  }

  #page-main-mobile-menu {
    display: grid;
  }

  .page-main-mobile-menu-card {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 0 5vw 60px;

    >img {
      height: 100px;
      object-fit: cover;
    }

    >div {
      display: grid;
      margin: 0 5vw;
    }

    >div>div {
      display: grid;
    }
  }

  .page-main-mobile-menu-title-h1 {
    font-size: 2rem;
    background-image: linear-gradient(45deg, #F5D5CE, #FFA18A, #FFA18A, #FEDED6);
    width: 100%;
    text-align: center;
    color: whitesmoke;
    margin-bottom: 50px;
  }

  #page-footer {
    display: grid;
    grid-auto-flow: row;
    place-items: center;
    margin-top: 40px;
    background-color: $background_color;
    color: whitesmoke;
    text-align: center;
    padding-top: 30px;
    row-gap: 20px;
  }  
  
  #page-footer-contact {
    display: grid;
    grid-auto-flow: row;
    row-gap: 30px;
  
    >h1 {
      font-size: 2rem;
    }
  
    >a {
      font-size: 1.5rem;
      text-decoration: none;
      color: whitesmoke;
    }
  
    >a:hover {
      color: $text_and_logo_color;
    }
  
    >div {
      display: grid;
      grid-auto-flow: column;
      place-items: center;
      margin: 0 25vw;
  
      >img {
        width: 30px;
      }
  
      >img:hover {
        fill: $text_and_logo_color;
        cursor: pointer;
      }
    }
  }
  
  #page-footer-copyright {
    margin-bottom: 30px;
  }
  
  #page-footer-contact-address {
    font-size: 1.2rem;
    margin: 0 15vw;
  }
  
  #page-footer-map {
    display: grid;
    place-items: center;
  
    >iframe{
    height: 200px;
    width: 98vw;
    }
  }

  #page-footer-contact-desktop {
    display: none;
  }

  @media only screen and (min-width: 1080px) {
    #page-header-mobile {
      display: none;
    }
  
    #page-header-desktop {
      display: grid;
      grid-auto-flow: column;
      place-items: center;
      padding: 20px;
      background-color: $background_color;
  
      >div {
        display: grid;
        grid-auto-flow: column;
        column-gap: 20px;
      }
  
      >div>a {
        text-decoration: none;
        color: whitesmoke;
      }
  
      >div>a:hover {
        cursor: pointer;
        color: $text_and_logo_color;
      }
  
      >img {
        justify-self: center;
        width: 120px;
      }
    }

    .animation-fade-in-desktop {
      animation: fadeIn 2s linear;
    }

    #page-main-mobile {
      display: none;
    }

    #page-main-desktop {
      display: grid;
    }

    #page-main-desktop-banner {
      background-image: url(/img/menu-img/menu-background-img.png);
      width: 100%;
      height: 500px;
      background-size: cover;
      background-position: center;
      display: grid;
      place-items: center;
  
      >div {
        transform: translateY(-50px);
        transform: translateX(-320px);
        height: 140px;
        width: 340px;
        display: grid;
        text-align: center;
        place-items: center;
  
        >h1 {
          font-size: 3rem;
          color: $background_color;
          color: white;
          text-shadow: 3px 3px 12px white;
        }
      }
    }

    #page-main-desktop-offers-title {
      display: grid;
      place-items: center;
      margin-top: 80px;
  
      >h1 {
        font-size: 3rem;
        margin: 0 5vw;
        text-align: center;
        transform: translateY(-20px);
      }

      >:nth-child(1) {
        color: $text_and_logo_color;
        font-size: 4rem;
      }
    }

    #page-main-desktop-offers {
      background-image: url(/img/menu-img/slice-pizza.jpg);
      width: 80%;
      height: 80vh;
      display: grid;
      justify-self: center;
      background-size: cover;
      background-position: center;

      >div {
        display: grid;
        height: 250px;
        background-color: #fff;
        margin: 0 10vw;
        transform: translateY(450px);
        box-shadow: -6px 6px 24px #9d9d9d;
      }

      >div>h1 {
        margin: 20px 3vw;
        font-size: 2.5rem;
      }

      >div>p {
        margin: 8px 3vw;
        font-size: 1.8rem;
      }

      >div>img {
        width: 75px;
        justify-self: end;
        margin: 0 10vw;
        transform: translateY(-70px);
      }
    }

    #page-main-desktop-menu-title {
      margin-top: 200px;
      display: grid;
      place-items: center;
  
      >.page-main-desktop-menu-title-h1 {
        font-size: 3rem;
        background-image: linear-gradient(45deg, #F5D5CE, #FFA18A, #FFA18A, #FEDED6);
        width: 100%;
        text-align: center;
        color: whitesmoke;
        margin-bottom: 50px;
      }
    }

    .page-main-desktop-menu-title-h1 {
      font-size: 3rem;
      background-image: linear-gradient(45deg, #F5D5CE, #FFA18A, #FFA18A, #FEDED6);
      width: 100%;
      text-align: center;
      color: whitesmoke;
      margin-bottom: 50px;
    }

    #page-main-desktop-menu {
      display: grid;
    }

    .page-main-desktop-menu-div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 50px 10vw;
      column-gap: 100px;

      >.page-main-desktop-menu-card {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 30px;

        >div>h1 {
          font-size: 1.5rem;
        }

        >div>div {
          display: grid;
          margin-top: 20px;
          row-gap: 20px;
        }
      }

      >.page-main-desktop-menu-card>img {
        width: 200px;
        height: 200px;
        object-fit: cover;
      }
    }

    .scale-up-desktop-menu-card-img {
        transition: transform 0.6s 0.3s;
    }

    .scale-up-desktop-menu-card-img:hover {
        transform: scale(1.5) translateX(-30px);
    }

    #page-footer-contact {
      >div {
        column-gap: 50px;
      }
    }
  
    #page-footer-map {
      >iframe {
        height: 400px;
      }
    }

    #page-footer-contact-desktop {
      display: grid;
    }
  
    #page-footer-contact-mobile {
      display: none;
    }
  }