$text_and_logo_color: #f6c6bb;
$background_color: #2c2c2c;
$text_color: #feded6;

* {
    margin: 0;
    padding: 0;
    font-family: "Garamond", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  body {
    min-height: 100vh;
    place-items: center;
    width: 100%;
  }
  
  img {
    width: 100%;
  }

  #page-header {
    display: grid;
  }

  #page-header-desktop {
    display: none;
  }

  #page-header-mobile {
    display: grid;
    grid-auto-flow: column;
    background-color: $background_color;
    min-height: 50px;
    place-items: center;
  }

  #page-header-logo {
    width: 80px;
    justify-self: start;
  }

  #page-header-menu {
    width: 30px;
    justify-self: end;
    margin-right: 10px;
  }

  #page-main-desktop {
    display: none;
  }

  #page-main-mobile-banner {
    background-image: url(/img/reservation-img/reservation-background.jpg);
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;

    >h1 {
        font-size: 2rem;
        padding: 40px;
        color: whitesmoke;
        letter-spacing: 4px;
    }
  }

  #page-main-mobile-celebrate-whit-us {
    display: grid;
    margin-top: 40px;
    row-gap: 20px;

    >h1 {
        color: $text_and_logo_color;
        font-size: 2.5rem;
        text-align: center;
        margin: 0 5vw;
        margin-bottom: 20px;
    }

    >p {
        color: #9d9d9d;
        margin: 0 10vw;
    }
  }

  #page-main-mobile-three-cards {
    display: grid;
    place-items: center;
    text-align: center;
    margin-top: 60px;
  }

  .page-main-mobile-card {
    display: grid;
    height: 550px;
    grid-template-rows: 1fr 6fr;

    >div>h1 {
        font-size: 1.5rem;
    }

    >div>p {
        margin: 0 15vw;
    }
  }

  #page-main-mobile-card-img-birthday {
    background-image: url(/img/reservation-img/birthday-restaurant.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 40px;
  }

  #page-main-mobile-card-img-marriage {
    background-image: url(/img/reservation-img/marriage-restaurant.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 40px;
  }

  #page-main-mobile-card-img-business {
    background-image: url(/img/reservation-img/business-confraternization.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 40px;
  }

  #page-main-mobile-video-section {
    display: grid;
    row-gap: 30px;
    margin-top: 30px;
    place-items: center;

    >div {
        width: 100%;
        background-image: linear-gradient(315deg, #F5D5CE, #FFA18A, #FFA18A, #FEDED6);
    }
    
    >div>h1 {
        font-size: 1.3rem;
        margin: 0 5vw;
        text-align: center;
        padding: 5px;
        color: whitesmoke;
    }
  }

  #page-main-reservation-section {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    padding-top: 30px;
    
    >h1 {
      color: $background_color;
      font-size: 2rem;
      margin: 0 5vw 20px;
    }
  }
  
  #page-main-reservation-form {
    display: grid;
    grid-auto-flow: row;
    row-gap: 15px;
    margin: 0 5vw;
  
    >input {
      color: #f6c6bb;
      border: none;
      padding: 15px;
      background-color: $background_color;
      caret-color: #f6c6bb;
    }
  
    >input::placeholder {
      color: $text_and_logo_color;
    }
  
    >button {
      padding: 10px;
      font-size: 1.2rem;
      background-color: $text_and_logo_color;
      color: $background_color;
      border-color: $text_and_logo_color;
      font-weight: 600;
      border: none;
    }
  
    >button:active {
      background-color: $text_color;
    }
  
    >button:hover {
      cursor: pointer;
    }
  }
  
  #page-footer {
  display: grid;
  grid-auto-flow: row;
  place-items: center;
  margin-top: 40px;
  background-color: $background_color;
  color: whitesmoke;
  text-align: center;
  padding-top: 30px;
  row-gap: 20px;
}


#page-footer-contact {
  display: grid;
  grid-auto-flow: row;
  row-gap: 30px;

  >h1 {
    font-size: 2rem;
  }

  >a {
    font-size: 1.5rem;
    text-decoration: none;
    color: whitesmoke;
  }

  >a:hover {
    color: $text_and_logo_color;
  }

  >div {
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    margin: 0 25vw;

    >img {
      width: 30px;
    }

    >img:hover {
      fill: $text_and_logo_color;
      cursor: pointer;
    }
  }
}

#page-footer-copyright {
  margin-bottom: 30px;
}

#page-footer-contact-address {
  font-size: 1.2rem;
  margin: 0 15vw;
}

#page-footer-map {
  display: grid;
  place-items: center;

  >iframe{
  height: 200px;
  width: 98vw;
  }
}

#page-footer-contact-desktop {
  display: none;
}

@media only screen and (min-width: 1080px) {
    #page-header-mobile {
        display: none;
      }

      #page-header-desktop {
        display: grid;
        grid-auto-flow: column;
        place-items: center;
        padding: 20px;
        background-color: $background_color;
    
        >div {
          display: grid;
          grid-auto-flow: column;
          column-gap: 20px;
        }
    
        >div>a {
          text-decoration: none;
          color: whitesmoke;
        }
    
        >div>a:hover {
          cursor: pointer;
          color: $text_and_logo_color;
        }
    
        >img {
          justify-self: center;
          width: 120px;
        }
      }

      #page-main-mobile {
        display: none;
      }

      #page-main-desktop {
        display: grid;
      }
      
      #page-main-desktop-banner {
        background-image: url(/img/reservation-img/reservation-background.jpg);
        width: 100%;
        height: 70vh;
        background-size: cover;
        background-position: center;
    
        >h1 {
            font-size: 4rem;
            padding: 200px;
            color: whitesmoke;
            letter-spacing: 4px;
        }
      } 

      #page-main-desktop-celebrate-whit-us {
        display: grid;
        grid-template-columns: 1fr 2fr;
        height: 400px;
        place-items: center;

        >h1 {
            font-size: 4rem;
            text-align: center;
            color: $text_and_logo_color;
        }

        >div {
            display: grid;
            background-image: linear-gradient(315deg, #F5D5CE, #FFA18A, #FFA18A, #FEDED6);
            height: 100%;
           
        }

        >div>p {
            margin: 0 10vw;
            padding-top: 40px;
            color: whitesmoke;
            font-size: 1.1rem;
        }
      }

      #page-main-desktop-three-cards {
        display: grid;
        grid-auto-flow: row;
        margin-top: 100px;
      }

      .page-main-desktop-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 600px;

        >div {
            display: grid;
            place-items: center;
        }

        >div>div {
            display: grid;
            row-gap: 50px;
            text-align: center;
        }

        >div>div>h1 {
            font-size: 4rem;
        }

        >div>div>p {
            font-size: 1.5rem;
            margin: 0 5vw;
        }
      }

      #page-main-desktop-card-img-birthday {
        background-image: url(/img/reservation-img/birthday-restaurant.jpg);
        background-size: cover;
        background-position: center;
      }
    
      #page-main-desktop-card-img-marriage {
        background-image: url(/img/reservation-img/marriage-restaurant.jpg);
        background-size: cover;
        background-position: center;
      }
    
      #page-main-desktop-card-img-business {
        background-image: url(/img/reservation-img/business-confraternization.jpg);
        background-size: cover;
        background-position: center;
      }
    
      #page-main-desktop-video-section {
        display: grid;
        grid-template-columns: 1fr 3fr;
        margin-top: 80px;

        >div {
            display: grid;
            place-items: center;
            text-align: center;
            font-size: 2rem;
            background-color: $text_and_logo_color;
        }

        >div>h1 {
            background-color: whitesmoke;
            border-radius: 5px;
            margin: 0 2vw;
            color: $text_and_logo_color;
        }
      }

      #page-main-desktop-reservation {
        margin-top: 80px;
        display: grid;
        grid-template-columns: 2fr 1fr;
      }

      #page-main-desktop-reservation-img {
        background-image: url(/img/reservation-img/reservation-background-img.jpg);
        background-size: cover;
        background-position: center;
      }

      #page-footer-contact {
        >div {
          column-gap: 50px;
        }
      }
    
      #page-footer-map {
        >iframe {
          height: 400px;
        }
      }

     
}