$text_and_logo_color: #f6c6bb;
$background_color: #2c2c2c;
$text_color: #feded6;

* {
    margin: 0;
    padding: 0;
    font-family: "Garamond", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  body {
    min-height: 100vh;
    place-items: center;
    width: 100%;
  }
  
  img {
    width: 100%;
  }

  #page-header {
    display: grid;
  }

  #page-header-mobile {
    display: grid;
    grid-auto-flow: column;
    background-color: $background_color;
    min-height: 50px;
    place-items: center;
  }

  #page-header-desktop {
    display: none;
  }

  #page-header-logo {
    width: 80px;
    justify-self: start;
    margin-left: 25px;
  }

  #page-header-menu {
    width: 30px;
    justify-self: end;
    margin-right: 10px;
  }

  #page-main-mobile-banner {
    display: grid;
    
    >p {
      margin: 20px 8vw 10px;
      color: #9d9d9d;
    }

    >h1 {
      margin: 0 12vw;
      color: $background_color;
      font-size: 1.5rem;
    }

    >img {
      max-height: 70vw;
      object-fit: cover;
    }
  }

  #page-main-mobile-why-us {
    display: grid;
  }

  #page-main-desktop {
    display: none;
  }

  #page-main-mobile-with-us-img {
    background-image: url(/img/about-img/why-us-background.png);
    width: 100%;
    height: 70vh;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: start;
  }

  #page-main-mobile-why-us-topics {
    display: grid;
    place-items: center;
    text-align: center;
    margin: 0 15vw;
    row-gap: 20px;
    transform: translateY(-50px);

    >div>p {
      color: $text_and_logo_color;
      font-weight: bold;
    }
  }

  #page-main-mobile-why-us-description {
    background-image: url(/img/about-img/why-us-background-image.jpg);
    width: 100%;
    height: 80vh;
    background-position: center;
    background-size: cover;
    display: grid;
    place-items: center;
  }

#page-main-mobile-why-us-background-color {
  background-color: #fff;
  width: 90%;
  height: 70vh;
  display: grid;
  place-items: center;
  border-radius: 10px;
  grid-template-rows: 1fr 3fr;
}

#page-main-mobile-why-us-title-card {
  background-color: $text_and_logo_color;
  width: 100%;
  height: 100%;
  text-align: center;
  display: grid;
  place-items: center;
  border-radius: 10px 10px 0 0;

  >h1 {
    font-size: 2rem;
  }
}

#page-main-mobile-why-us-description-card {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 20px;
  margin: 0 10vw;
}

#page-main-mobile-restaurant-pictures-section {
  display: grid;
  margin-top: 50px;
  place-items: center;

  >h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
}

#page-main-mobile-restaurant-pictures-one {
  background-image: url(/img/about-img/restaurant-picture-1.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#page-main-mobile-restaurant-pictures-two {
  background-image: url(/img/about-img/restaurant-picture-2.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#page-main-mobile-restaurant-pictures-three {
  background-image: url(/img/about-img/restaurant-picture-3.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#page-main-mobile-feedback-donation {
  display: grid;
  grid-auto-flow: row;
  place-items: center;
  margin-top: 30px;
}

.page-main-mobile-feedback-donation-class {
  width: 80%;
  text-align: center;
  height: 20vh;
  background-image: linear-gradient(to bottom, #F5D5CE, #FFA18A, #F0D1C9, #FEDED6);

  >div {
    display: grid;
    row-gap: 20px;
    padding-top: 20px;
    color: $background_color;
  }

  >div>p {
    color: whitesmoke
  }

  >div>h1 {
    transform: translateY(-15px);
    color: whitesmoke;
  }

  >div>button {
    transform: translateY(-10px);
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: transparent;
    border-color: $text_and_logo_color;
    justify-self: center;
    font-weight: bold;
    font-size: 1.5rem;
    
  }
}

#page-footer {
  display: grid;
  grid-auto-flow: row;
  place-items: center;
  margin-top: 40px;
  background-color: $background_color;
  color: whitesmoke;
  text-align: center;
  padding-top: 30px;
  row-gap: 20px;
}


#page-footer-contact {
  display: grid;
  grid-auto-flow: row;
  row-gap: 30px;

  >h1 {
    font-size: 2rem;
  }

  >a {
    font-size: 1.5rem;
    text-decoration: none;
    color: whitesmoke;
  }

  >a:hover {
    color: $text_and_logo_color;
  }

  >div {
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    margin: 0 25vw;

    >img {
      width: 30px;
    }

    >img:hover {
      fill: $text_and_logo_color;
      cursor: pointer;
    }
  }
}

#page-footer-copyright {
  margin-bottom: 30px;
}

#page-footer-contact-address {
  font-size: 1.2rem;
  margin: 0 15vw;
}

#page-footer-map {
  display: grid;
  place-items: center;

  >iframe{
  height: 200px;
  width: 98vw;
  }
}

#page-footer-contact-desktop {
  display: none;
}

@media only screen and (min-width: 1080px) {
  #page-main-mobile {
    display: none;
  }

  #page-header-mobile {
    display: none;
  }

  #page-header-desktop {
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    padding: 20px;
    background-color: $background_color;

    >div {
      display: grid;
      grid-auto-flow: column;
      column-gap: 20px;
    }

    >div>a {
      text-decoration: none;
      color: whitesmoke;
    }

    >div>a:hover {
      cursor: pointer;
      color: $text_and_logo_color;
    }

    >img {
      justify-self: center;
      width: 120px;
    }
  }

  #page-main-desktop {
    display: grid;
  }

  #page-main-desktop-banner {
    background-image: url(/img/about-img/about-background-img.png);
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
  }

  #page-main-desktop-banner-first-div {
      background-color: whitesmoke;
      padding: 40px;
      width: 230px;
      margin: 100px;
      font-size: 1.5rem;
      border-radius: 60px;
      color: $text_and_logo_color;
      font-weight: bold;
  }

  #page-main-desktop-banner-second-div {
    background-color: whitesmoke;
    padding: 40px;
    width: 300px;
    margin-left: 150px;
    font-size: 2rem;
    border-radius: 100px;
    color: $background_color;
    transform: translateY(-140px);
  }

  #page-main-desktop-why-us {
    background-image: url(/img/about-img/why-us-background.png);
    height: 100vh;
    max-width: 100%;
    background-size: cover;
    background-position: start;
  }

  #page-main-desktop-why-us-topics {
    display: grid;
    place-items: center;
    text-align: center;
    margin-top: 150px;
    transform: translateX(50vw);
    background-color: #FFA18A;
    width: 500px;
    height: 400px;

    >div {
      background-color: $text_color;
      padding: 10px;
    }

    >div>p {
      color: $background_color;
      font-weight: bold;
      font-size: 1.5rem;
    }

    >div>h1 {
      font-size: 1.5rem;
      color: $background_color;
    }
  }

  #page-main-desktop-why-us-description {
    background-image: url(/img/about-img/visit-us-background-image.jpg);
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
  }

  #page-main-desktop-why-us-description-card {
    background-color: #fff;
    width: 80%;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    place-items: center;
  }

  #page-main-desktop-why-us-title {
    background-image: linear-gradient(315deg, #F5D5CE, #FFA18A, #FFA18A, #FEDED6);
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;

    >h1 {
      color: whitesmoke;
      font-size: 3rem;
    }
  }

  #page-main-desktop-why-us-description-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    

    >div {
      display: grid;
      row-gap: 10px;
      place-items: start;
      margin: 0 10px
    }

    >div>a {
      text-decoration: none;
      justify-self: center;
      margin-top: 50px;
      color: $text_and_logo_color;
      font-weight: bold;
    }

    >div>a:hover {
      color: $text_color;
    }
  }

  #page-main-desktop-restaurant-pictures-section {
    display: grid;
    place-items: center;
    margin-top: 80px;

    >h1 {
      text-align: center;
      font-size: 3rem;
    }
  }

  #page-main-desktop-restaurant-pictures-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    width: 90vw;
    margin-top: 30px;
  }

  #page-main-desktop-restaurant-pictures-one {
    background-image: url(/img/about-img/restaurant-picture-1.jpg);
    height: 30vw;
    width: 100%;
    background-size: cover;
    background-position: center;
  }

  #page-main-desktop-restaurant-pictures-two {
    background-image: url(/img/about-img/restaurant-picture-2.jpg);
    height: 30vw;
    width: 100%;
    background-size: cover;
    background-position: center;
  }

  #page-main-desktop-restaurant-pictures-three {
    background-image: url(/img/about-img/restaurant-picture-3.jpg);
    height: 40vw;
    width: 90vw;
    background-size: cover;
    background-position: bottom;
    margin-top: 20px;
  }

  #page-main-desktop-feedback-donation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    margin: 0 25vw;
    margin-top: 80px;
  }

  #page-main-desktop-feedback-div {
    background-image: linear-gradient(to right, #F5D5CE, #FFA18A, #FFA18A, #FEDED6);
    width: 100%;
    height: 200px;
    display: grid;
    place-items: center;
    color: whitesmoke;

    >h1 {
      transform: translateY(-30px);
      font-size: 1.7rem;
    }

    >button {
      transform: translateY(-20px);
      border: none;
      background-color: $text_color;
      width: 50px;
      height: 50px;
      font-size: 2rem;
      color: whitesmoke;
      font-weight: bold;
    }

    >button:hover {
      background-color: $text_and_logo_color;
      cursor: pointer;
    }

    >button:active {
      background-color: $text_color;
    }
  }

  #page-main-desktop-donation-div {
    background-image: linear-gradient(to right,#FEDED6 , #FFA18A, #FFA18A,#F5D5CE );
    width: 100%;
    height: 200px;
    display: grid;
    place-items: center;
    color: whitesmoke;

    >h1 {
      transform: translateY(-30px);
      font-size: 1.7rem;
    }

    >button {
      transform: translateY(-20px);
      border: none;
      background-color: $text_color;
      width: 50px;
      height: 50px;
      font-size: 2rem;
      color: whitesmoke;
      font-weight: bold;
    }

    >button:hover {
      background-color: $text_and_logo_color;
      cursor: pointer;
    }

    >button:active {
      background-color: $text_color;
    }
  }

  #page-footer-contact {
    >div {
      column-gap: 50px;
    }
  }

  #page-footer-map {
    >iframe {
      height: 400px;
    }
  }

  #page-footer-contact-desktop {
    display: grid;
  }

  #page-footer-contact-mobile {
    display: none;
  }
}
