$text_and_logo_color: #f6c6bb;
$background_color: #2c2c2c;
$text_color: #feded6;

* {
    margin: 0;
    padding: 0;
    font-family: "Garamond", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  body {
    min-height: 100vh;
    place-items: center;
    width: 100%;
  }
  
  img {
    width: 100%;
  }

  #page-header {
    display: grid;
  }

  #page-header-mobile {
    display: grid;
    grid-auto-flow: column;
    background-color: $background_color;
    min-height: 50px;
    place-items: center;
  }

  #page-header-desktop {
    display: none;
  }

  #page-header-logo {
    width: 40px;
    justify-self: start;
  }

  #page-header-menu {
    width: 30px;
    justify-self: end;
    margin-right: 10px;
  }

  #page-main-mobile-banner {
    display: grid;
    
    >p {
      margin: 20px 8vw 10px;
      color: #9d9d9d;
    }

    >h1 {
      margin: 0 12vw;
      color: $background_color;
      font-size: 1.5rem;
    }
  }

  #page-main-mobile-why-us {
    display: grid;
  }

  #page-main-mobile-with-us-img {
    background-image: url(/img/about-img/why-us-background.png);
    width: 100%;
    height: 70vh;
    margin-top: 10px;
  }

  #page-main-mobile-why-us-topics {
    display: grid;
    place-items: center;
    text-align: center;
    margin: 0 15vw;
    row-gap: 20px;

    >div>p {
      color: $text_and_logo_color;
      font-weight: bold;
    }
  }